@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

ul {
  padding-left: 24px;
}
ul li::before {
  content: '\2022';
  color: rgb(59 130 246);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media print {
  html {
    font-size: 11px;
    line-height: 1.2;
  }
  .print-area {
    transform: scale(0.6);
  }
}
